/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.facebook-logo {
  font-size: 36px;
  font-weight: bold;
  color: #1877f2;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Helvetica", sans-serif;
}

.login-container {
  width: 360px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  font-size: 20px;
  color: #606770;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #1d2129;
}

.login-box .login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1877f2;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-box .login-btn:hover {
  background-color: #165dcb;
}

.forgot-link {
  display: block;
  font-size: 14px;
  color: #1877f2;
  text-decoration: none;
  margin-bottom: 15px;
}

.forgot-link:hover {
  text-decoration: underline;
}

.divider {
  margin: 15px 0;
  font-size: 14px;
  color: #606770;
  position: relative;
  text-align: center;
}

.divider:before,
.divider:after {
  content: "";
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  width: 40%;
}

.divider:before {
  left: 0;
}

.divider:after {
  right: 0;
}

.new-account-btn {
  width: 100%;
  padding: 10px;
  background-color: #42b72a;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.new-account-btn:hover {
  background-color: #36a420;
}
